@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
}

* {
  font-family: "Montserrat";
}

main {
  width: 100%;
}

.MainPage {
  display: flex;
}

button {
  cursor: pointer;
}

/* sign in page */

.SignInPage label {
  margin: 16px 0 8px 0;
  font-weight: 500;
  color: #6c6c6c;
  font-size: 0.875rem;
}

.SignInPage input {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e5e5e5;
}

.SignInPage input::placeholder {
  color: #cdcdcd;
  font-weight: 400;
  font-size: 0.75rem;
}

.SignInPage span {
  color: #feaf00;
  font-weight: 500;
  text-decoration: underline;
}

.SignInPage {
  background-image: linear-gradient(71.17deg, #feaf00 19.35%, #f8d442 90.12%);
  min-height: 100vh;
}

.SignInCard {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  max-width: 475px;
  height: 66%;
  max-height: 550px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.SignInCard > img {
  width: 75%;
  margin-top: 16px;
}

.SignInDefaultP {
  font-weight: 400;
  color: #6c6c6c;
  margin-top: 6px;
  font-size: 0.875rem;
}

.SignInHeader {
  font-weight: 600;
  color: #000000;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 1.375rem;
}

.SignInText {
  text-align: center;
  width: 100%;
}

.SignInForm {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.SignInButton {
  margin-top: 32px;
  background-color: #feaf00;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

/* sidebar */

.Sidebar {
  min-height: 100vh;
  background-color: #f2eae1;
  display: flex;
  flex-direction: column;
  width: 18%;
  max-width: 270px;
  min-width: 180px;
  align-items: center;
}

.Sidebar > img {
  width: 75%;
  margin-top: 16px;
}

.Profile {
  text-align: center;
  margin-top: 20%;
}

.Profile > img {
  border-radius: 50%;
}

.ProfileName {
  font-weight: 700;
  color: #000000;
  font-size: 1.1rem;
}

.ProfilePosition {
  font-size: 0.875rem;
  font-weight: 500;
  color: #feaf00;
}

.NavButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  width: 75%;
}

.ButtonsNavlink {
  width: 100%;
  display: flex;
  text-decoration: none;
  margin-top: 12px;
  height: 40px;
}

.active {
  background-color: #feaf00;
  border-radius: 4px;
}

.ButtonsNavlink > button {
  margin: 12px;
  padding: 10px;
  display: flex;
  position: relative;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
}

.ButtonsNavlink > button > div {
  width: 33%;
  text-align: left;
}

.ButtonsNavlink > button > div > p {
  font-weight: 500;
  font-size: 0.875rem;
  color: #000000;
}

.EndNavlink {
  position: absolute;
  bottom: 0;
  text-decoration: none;
}

.EndNavlink p {
  font-weight: 500;
  font-size: 0.875rem;
  color: #000000;
}

.NavEnd {
  display: flex;
  justify-content: center;
  margin: 12px;
  gap: 23px;
}

/* header */

.Header {
  height: 60px;
  position: relative;
}

.PlayButton {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
}

.Header > input {
  position: absolute;
  margin: 0;
  width: 212px;
  top: 50%;
  right: 95px;
  transform: translate(0, -50%);
  height: 38px;
  background: url(search.svg) no-repeat;
  background-position: right 12px top 50%;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding-left: 12px;
}

.Header > input::placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 0.875rem;
}

.BellButton {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 50px;
  transform: translate(0, -50%);
}

/* home */

.home {
  padding: 30px;
  height: calc(100% - 90px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background-color: #fdfdfd;
}

.home > div {
  position: relative;
  height: 160px;
  border-radius: 8px;
  width: 255px;
  margin: 0 auto;
}

.home > div > img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-students {
  background-color: #f0f9ff;
}

.home-course {
  background-color: #fef6fb;
}

.home-payments {
  background-color: #fefbec;
}

.home-users {
  background-image: linear-gradient(110.42deg, #feaf00 18.27%, #f8d442 91.84%);
}

.home-name {
  color: #6c6c6c;
  font-weight: 500;
  font-size: 0.875rem;
  position: absolute;
  left: 20px;
  top: 60px;
}

.home-user-name {
  color: #ffffff;
}

.home-info {
  font-weight: 700;
  font-size: 1.875rem;
  color: #000000;
  position: absolute;
  right: 20px;
  top: 80px;
}

.home-info > span {
  font-size: 1.125rem;
}

/* students */

.students {
  background-color: #f8f8f8;
  height: calc(100% - 60px);
}

.students > hr {
  width: calc(100% - 60px);
  border: 1px solid #e5e5e5;
  margin: 0 auto;
}

.students-header {
  height: 68px;
  position: relative;
}

.students-header > p {
  font-weight: 700;
  font-size: 1.375rem;
  color: #000000;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}

.students-header > img {
  position: absolute;
  right: 260px;
  top: 50%;
  transform: translate(0, -50%);
}

.students-header > button {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  width: 200px;
  background-color: #feaf00;
  border: none;
  border-radius: 4px;
  height: 44px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.875rem;
}

.students-labels {
  height: 59px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 30px;
}

.students-labels > p {
  font-weight: 600;
  font-size: 0.75rem;
  color: #acacac;
}

.students-labels-name {
  position: absolute;
  left: 110px;
}

.students-labels-email {
  position: absolute;
  left: 270px;
}

.students-labels-phone {
  position: absolute;
  left: 460px;
}

.students-labels-number {
  position: absolute;
  left: 580px;
}

.students-labels-date {
  position: absolute;
  left: 800px;
}

.students-info-wrapper {
  height: calc(100vh - 60px - 68px - 2px - 59px - 60px);
  overflow-y: auto;
}

.students-info {
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10px 30px;
  height: 85px;
  align-items: center;
}

.students-info > p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #000000;
}

.student-img {
  width: 65px;
  height: 55px;
  border-radius: 8px;
  position: absolute;
  left: 14px;
}

.students-info-name {
  position: absolute;
  left: 110px;
}

.students-info-email {
  position: absolute;
  left: 270px;
}

.students-info-phone {
  position: absolute;
  left: 460px;
}

.students-info-number {
  position: absolute;
  left: 580px;
}

.students-info-date {
  position: absolute;
  left: 800px;
}

.students-pin {
  position: absolute;
  right: 70px;
  cursor: pointer;
}

.students-trash {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* payment */

.payment {
  background-color: #f8f8f8;
  height: calc(100% - 60px);
}

.payment > hr {
  width: calc(100% - 60px);
  border: 1px solid #e5e5e5;
  margin: 0 auto;
}

.payment-header {
  height: 68px;
  position: relative;
}

.payment-header > p {
  font-weight: 700;
  font-size: 1.375rem;
  color: #000000;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}

.payment-header > img {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
}

.payment-labels {
  height: 59px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 30px;
}

.payment-labels > p {
  font-weight: 600;
  font-size: 0.75rem;
  color: #acacac;
}

.payment-labels-name {
  position: absolute;
  left: 13px;
}

.payment-labels-schedule {
  position: absolute;
  left: 172px;
}

.payment-labels-bill {
  position: absolute;
  left: 362px;
}

.payment-labels-paid {
  position: absolute;
  left: 525px;
}

.payment-labels-balance {
  position: absolute;
  left: 703px;
}

.payment-labels-date {
  position: absolute;
  left: 881px;
}

.payment-info-wrapper {
  height: calc(100vh - 60px - 68px - 2px - 59px - 60px);
  overflow-y: auto;
}

.payment-info {
  display: flex;
  position: relative;
  background-color: #ffffff;
  margin: 0 30px;
  height: 51px;
  align-items: center;
}

.payment-info:nth-child(even) {
  background-color: #f8f8f8;
}

.payment-info > p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #000000;
}

.payment-info-name {
  position: absolute;
  left: 13px;
}

.payment-info-schedule {
  position: absolute;
  left: 171px;
}

.payment-info-bill {
  position: absolute;
  left: 361px;
}

.payment-info-paid {
  position: absolute;
  left: 525px;
}

.payment-info-balance {
  position: absolute;
  left: 703px;
}

.payment-info-date {
  position: absolute;
  left: 881px;
}

.payment-info-eye {
  position: absolute;
  right: 20px;
}

/* create student */

.create-student{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-student-form{
  position: relative;
  padding: 16px;
  width: 100%;
  max-width: 720px;
  background-color: #ffffff;
}

.create-student-header{
  display: flex;
  justify-content: space-between;
}

.create-student-form > form{
  display: flex;
  flex-direction: column;
}

.create-student-form > form > input{
  margin: 6px 0;
}

.create-student-fill{
  color: red;
  font-size: 1.5rem;
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}